@media (max-width: 600px) {
  .header {
    padding: 16px 12px !important;
  }
  .main {
    padding: 48px 0 !important;
  }
  .main-title {
    font-size: 2.2rem !important;
    text-align: left !important;
    padding: 0 36px;
  }
  .main-desc {
    font-size: 1rem !important;
    padding: 0 36px;
  }
}
